@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $c-text-main;
    line-height: 1.5;
    background-color: $c-white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}