// Кольори
$c-white: #ffffff;
$c-black: #000000;
$c-dark-bg: #1a1a1a;
$c-dark-btn: #222222;
$c-text-main: #333333;
$c-text-muted: #e0e0e0;
$c-border: #eaeaea;
$c-border-dark: #444444;

// Шрифти
$font-main: 'Inter', sans-serif;

// Брейкпоінти для адаптиву
$bp-mobile: 768px;